<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="public/js/bundle.js"></script>
  </head>
  <body>
    <%- include('../_includes/test'); %>
    <canvas id="display" width="640" height="480" />
  </body>
</html>
